@{
    ViewBag.Title = "Чат";
    Layout = null;
}

<h2>Чат</h2>

<div id="chatContainer"></div>

<script src="@AssetsProvider.Instance().Assets.common.js.ToString()"></script>
<script src="@AssetsProvider.Instance().Assets.chat.js.ToString()"></script>